<launch>
  <arg name="razor_config_file" default="$(find drive_by_wire)/params/razor.yaml"/>
  <node pkg="razor_imu_9dof" type="imu_node.py" name="imu_node" output="screen">
    <rosparam file="$(arg razor_config_file)" command="load"/>
    <remap from="base_imu_link" to="imu"/>
  </node>
</launch>
